.profile {
  height: 100%;
  margin: 74px auto 0 auto;
  padding: 0;
  display: grid;
  justify-items: center;
  max-width: 410px;
  align-items: start;
  grid-template-rows: auto auto 221px 34px auto;

}

.profile__greetings {
  grid-column: 1/2;
  margin: 0 0 123px 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  display: grid;
  width: 100%;
  grid-row-gap: 16px;
  justify-content: space-between

}

.profile__item {
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__row-name {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  /*padding: 0 0 16px 0;*/
  /*border-bottom: 1px #424242 solid;*/
}

.profile__line {
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #424242;
}

.profile__row-email {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: start;
}

.profile__input {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.profile__input-name {
  grid-column: 2/3;
  grid-row: 1/2;
}

.profile__input-email {
  grid-column: 2/3;
  grid-row: 3/4;
}


.profile__btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

.profile__edit-btn {
  margin: 0 0 16px 0;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-row: 4/5;
}

.profile__exit-btn {
  margin-bottom: 3px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  grid-row: 5/6;
}

.profile__exit-link {
  text-decoration: none;
  color: #EE3465;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__error {
  margin: 0 0 20px 0;
  grid-row: 4/5;
  color: #FF004C;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.profile__error_enabled {
  display: block;
}

.profile__save-btn {
  grid-row: 5/6;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 45px;
  background-color: #3456F3;
  border-radius: 3px;
}

.profile__btn-disabled {
  display: none;
}

.profile__save-btn_error {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

@media screen and (max-width: 769px) {
  .profile {
    margin: 236px auto 0 auto;
    grid-template-rows: auto auto 210px 34px auto;
  }

  .profile__greetings {
    margin: 0 0 98px 0;
    justify-self: center;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    margin: 70px auto 0 auto;
    max-width: 260px;
  }

  .profile__greetings {
    margin: 0 0 80px 0;
    width: 100%;
    text-align: center;
  }


}