.account-button {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  min-width: 100px;
  min-height: 32px;
  background-color: #313131;
  border: none;
  border-radius: 20px;
}

@media screen and (max-width: 769px) {
  .account-button {
    /*display: none;*/
    
  }
}