.portfolio {
  margin-bottom: 125px;
}

.portfolio__wrapper {
  margin: 0 70px 0 70px;
}

.portfolio__header {
  margin: 0;
  padding: 0;
  display: grid;
  /*grid-template-columns: min-content min-content;*/
  /*justify-content: space-between;*/

}

.portfolio__text {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  grid-column: 1/2;
  grid-row: 1/1;
}

.portfolio__nav {
  display: block;
  margin: 50px 0 0 0;
  padding: 0;
  grid-column: 1/2;
  /*grid-row: 2/3;*/
}

.portfolio__nav-element {
  margin: 0 0 20px 0;
  list-style-type: none;
  border-bottom: 1px #424242 solid;
  grid-column: 1/2;
  display: grid;
  justify-content: space-between;
}

.portfolio__nav-link {
  margin: 0 auto 19px 0;
  padding: 0;
  color: #FFF;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -1.2px;
  text-decoration: none;
  list-style-type: none;
}

.portfolio__nav-arrow {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0;
  letter-spacing: -1.2px;
  text-decoration: none;
  grid-column: 2/3;

}

@media screen and (max-width: 769px) {
  .portfolio {
    margin-bottom: 90px;
  }

  .portfolio__wrapper {
    margin: 0 50px 0 50px;
  }

  .portfolio__nav-link {
    font-size: 28px;
    line-height: 1.78;
    letter-spacing: -1.12px;
  }

  .portfolio__nav-arrow {
    font-size: 28px;
    line-height: 2.14;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 769px) {
  .portfolio {
    margin-bottom: 70px;
  }

  .portfolio__wrapper {
    margin: 0 14px 0 14px;
  }

  .portfolio__nav {
    margin: 41px 0 0 0;

  }

  .portfolio__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
  }

  .portfolio__nav-link {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.72px;
  }

  .portfolio__nav-arrow {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: -0.72px;
  }

  .portfolio__nav-element {
    border-bottom: 1px #E6E6E6 solid;
  }
}