.moviesCard {
  grid-column: 2/5;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: repeat(auto-fit, 231px);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  width: 100%;
  justify-content: center

}

.moviesCard__main {
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  max-width: 360px;
  grid-row-gap: 14px;
}

.moviesCard__link {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 201px;

}

.moviesCard__img {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 201px;
  object-fit: cover;
  border-radius: 8px;
}

.moviesCard__action-block {
  grid-row: 1/2;
  grid-column: 1/3;
  align-self: start;
  justify-self: end;
  margin: 14px 14px 0 0;
  padding: 0;
}

/*.moviesCard__action {*/
/*  grid-row: 1/2;*/
/*  grid-column: 1/3;*/
/*  align-self: start;*/
/*  justify-self: end;*/
/*  margin: 14px 14px 0 0;*/
/*  padding: 0;*/
/*}*/

.moviesCard__title {
  margin: 0 0 0 14px;
  padding: 0;
  grid-row: 2/3;
  grid-column: 1/2;
  color: #FFF;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moviesCard__duration {
  margin: 0 14px 0 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 52px;
  height: 18px;
  justify-self: end;
  background-color: #2F2F2F;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.moviesCard__time {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  color: #8B8B8B;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.91;
}