@import url(./vendor/normalize.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./blocks/hover.css);
@import url(./components/Navigation/Navigation.css);

@font-face {
  font-family: 'Inter Medium';
  src: url('./utils/fonts/Inter-Medium.woff');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('./utils/fonts/Inter-Regular.woff');
}

@font-face {
  font-family: 'Suisse Intl Regular';
  src: url('./utils/fonts/SuisseIntl-Regular.woff');
}

